<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Digimon Next Order Evolutions</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Digimon Next Order Digivolution List and Requirements">
<link href="style.css" rel="stylesheet">
<link href="https://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
  <div id="app" class="col-md-8 col-md-offset-2">

    <p class="text-center">
    	<img src="images/logo.png" alt="Logo"/>
    </p>

    <h1 class="text-center">Digimon World Next Order Evolution Guide</h1>

    <p class="alert alert-info text-center">
    	This is a WIP project. If you have any suggestion or found any bug please post in <a href="https://www.reddit.com/r/NextOrder/comments/5x1cbc/digimon_next_order_evolutions/" target="_blank">Reddit</a>. See bellow for references.
    </p>

    <div v-if="selected != null">

    	<button class="btn btn-primary" v-on:click="selected = null">GO Back</button>

    	<hr>

  		<div class="panel panel-default">
	      <div class="panel-heading">{{ selected.Name }} - Evolutions</div>
	      <div class="panel-body">
	        <div class="row">
	        	<div class="col-xs-12 text-center">
        		    <div class="digi-card" 
        		    	v-bind:class="{ active: digimon == selected }"
        		    	v-for="digimon in selectedEvolutions" v-on:click="showInfo(digimon)">
	            	<div class=digi-card__container>
			     	 	<img class="digi-card__image" :src="digimon.evolution_image" :alt="digimon.Name">
	              		<p class="digi-card__name">{{ digimon.Evolution }}</p>
	            	</div>
	            </div>
	        	</div>
	        </div>
	      </div>
	    </div>

	    <hr>

	    <button class="btn btn-primary" v-on:click="selected = null">GO Back</button>

    </div>

    <div v-if="selected == null">

	    <div class="panel panel-default">
	      <div class="panel-heading">Field guide</div>
	      <div class="panel-body">
	        <div class="form-group">
	          <label for="search" class="control-label">Search</label>
	          <div class="input-group">
	            <input id="search" type="text" v-model="search" class="form-control"/>
	            <span class="input-group-btn">
	              <button class="btn btn-default" type="button" v-on:click="search = '';">Clear</button>
	            </span>
	          </div>
	        </div>

	        <div class="row">
	        	<div class="col-xs-12 text-center">
	        		<div
	        			class="digi-card" 
        				v-bind:class="{ active: digimon == selected }"
        				v-for="digimon in searchResult"
        				v-on:click="select(digimon)">
	            		<div class="digi-card__container">
			     	 		<img class="digi-card__image" :src="digimon.image" :alt="digimon.Name">
	              			<p class="digi-card__name">{{ digimon.Name }}</p>
	            		</div>
	            	</div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </div>

    <a href="#top" id="back-to-top" class="well well-sm">
      <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
    </a>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ modalTitle }}</h4>
          </div>
          <div class="modal-body">
            <table class="table">
    		    <tr>
            		<th></th>
            		<td><img class="digi-card__image" :src="evolutionImage" :alt="evolutionImage"></td>
            	</tr>
              	<tr v-for="(value, attr) in evolutionAttrs">
                	<th>{{ attr }}</th>
                	<td>{{ value }}</td>
              	</tr>
            </table>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <div class="col-md-8 col-md-offset-2">

	<div class="panel panel-default">
      <div class="panel-heading">References</div>
      <div class="panel-body">
        <div class="row">
        	<div class="col-xs-12">
			  	<ul>
			  	  	<li>Most values were taken from <a href="https://docs.google.com/spreadsheets/d/1zRIZWQk7Xqsfo6Ls8y9tY2Oj_tcWIA0WMwFBIrITKRE/edit#gid=1561692800" target="_blank">"Digimon World: Next Order Digivolutions Spreadsheet"</a> (<a href="https://www.reddit.com/r/digimon/comments/5qwo2n/digimon_world_next_order_digivolutions/" target="_blank">Reddit Post</a>)</li>
			  	  	<li>Images by <a href="https://twitter.com/Camzillasmom">@Camzillasmom</a> (taken from his <a href="http://camzillasmom.com/2017/digimonworldnextorder_2017_fieldguide_alldigimons.html">"Digimon Next Order | Field Guide: All Digimons"</a>)</li>
			  	</ul>
            </div>
        	</div>
        </div>
      </div>
    </div>



  </div>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.3.0/vue-router.common.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
  <script src="app.js"></script>
</body>
</html>
